:root{
  /* clock dimention */
  --clock-width: 400px;
  --clock-height: 200px;
  --clock-face-extrawidth: 10px;
  --clock-face-extraheight: 10px;
  --clock-radius: 1rem;
}

:root {
  /* Background Colors */
  --primary-bg: #1A0A2D;
  --secondary-bg: #2B153F;
  --accent-bg: #3B1E4D;

  /* Text Colors */
  --primary-text: #EAEAEA;
  --secondary-text: #C3A0C3;
  --accent-text: #D18DF8;

  /* Shadow Colors */
  --shadow-color:#4823684d;
  --shadow-color2:var(--primary-bg);
  --shadow-color3:var(--primary-highlight);

  /* Highlight Colors */
  --primary-highlight: #D18DF8;
  --secondary-highlight: #B862E1;
  --warning-highlight: #E57373;

  /* Button Colors */
  --primary-button-bg: #b852e7;
  --primary-button-text: #000000;
  --secondary-button-bg: #d691fd;
  --secondary-button-text: #FFFFFF;

  /* Border Colors */
  --primary-border: #341A4A;
  --accent-border: #D18DF8;
}


html,body{
  font-family: "Nunito", sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.clock{
  border: 1.5rem solid var(--primary-bg);
  position: relative;
  width:  var(--clock-width);
  height: var(--clock-height);
  margin: 50px auto;
  border-radius: var(--clock-radius);
  box-shadow: 0 0 5px 5px var(--shadow-color),
              0 0 15px 10px var(--shadow-color)

}

.clock-face{
  position: relative;
  width: calc(var(--clock-width) + var(--clock-face-extrawidth));
  height: calc(var(--clock-height) + var(--clock-face-extraheight));
  padding: 5px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  flex-direction: column;
  background-color: var(--secondary-highlight);
  border-radius: var(--clock-radius);
  margin-top: calc(var(--clock-face-extraheight) / 2 - var(--clock-face-extraheight)) ;
  margin-left: calc(var(--clock-face-extrawidth) / 2 - var(--clock-face-extrawidth));
  box-shadow:inset 0px 0px 12px 0px var(--shadow-color2), 
                   0px 0px 12px 1px rgba(250, 42, 250, 0.158);
}

.time{
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

.clock-other-info-container{
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: column;
  border-top:1px dashed var(--primary-border);
}
.other-info{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-field{
  width: 50%;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid; */
  /* height: 100%; */
}

#timeZone {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
 
}

.vertical{
  position: absolute;
  height: 40px;
  left: 50%;
}
.upcoming-alarm{
  display: flex;
  width: 100%;
  justify-content: center;
}
.alarm-time{
  display: flex;
  justify-content: space-between;
  align-items: space-around;
}

#timeZone {
  background-color: var(--secondary-highlight);
  color: var(--primary-text);
}

.subTitle{
  color: var(--primary-button-text);
}

.alarm-info{
  background-color: var(--secondary-highlight);
  box-shadow: 0px 0px 8px 2px var(--shadow-color);
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: 8px;
}

.alarm-container{
  position: relative;
  width:calc(var(--clock-width)  + 40px)  ;
  height: auto;
  margin: 5rem auto;
  padding: 10px 18px 20px 18px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: var(--secondary-bg);
  box-shadow: 0 0 5px 5px var(--shadow-color),
              0 0 15px 10px var(--shadow-color)
              /* 0px 0px 10px 2px var(--shadow-color); */
}
.setAlarm{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
}
.alarm-action > *{
  margin: 0px 5px;
}
.setTime{
  position: relative;
  width: 25px;
  outline: none;
  text-align: center;
  padding: 5px 8px;
  border-radius: 8px;
  border: none;
  border-bottom: 1px solid var(--secondary-text);
  font-size: 1.2rem;
}

.setTimeFormat{
  position: relative;
  width: 40px;
  outline: none;
  text-align: center;
  padding: 5px 2px;
  border-radius: 8px;
  border: none;
  border-bottom: 1px solid rgba(95, 95, 95, 0.747);
  font-size: 1.2rem;
}
.setAlarmFormContainer{
  min-width: 50%;
  min-height: 4.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:start;
}
.setTimeForm{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weeks-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.day{
  background-color: var(--secondary-button-bg);
  color: var(--secondary-button-text);
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}
.btn{
  padding: 3px 0px;
  border-radius: 1rem;
  border: none;
  text-align: center;
  /* width: 35px; */
  width:70px;
  min-width: 70px;
  max-height: 35px;
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
  box-shadow: 2px 0px 8px 0px var(--shadow-color);
  /* overflow: hidden; */
  cursor: pointer;
}

.btn-set{
  color: var(--primary-text);;
}

.btn-edit{
  background-color: var(--primary-highlight);
  color: var(--primary-button-text)
}

.btn-delete{
  background-color: var(--warning-highlight);
  color: var(--primary-text);
}

.alramTitle{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 10px;
}
.allAlarmsContainer{
  position: relative;
  margin-top: 10px;
}
.allAlarmsMainContainer{
  position: relative;
  display: flex;
  flex-direction: column;
}

.datePicker{
  color: var(--secondary-text);
  border: none;
  font-size: 1rem;
  margin-top: 5px;
}
.selectedDay{
  background-color: var(--primary-button-bg);
  color: var(--primary-button-text);
}

/* #disPlayAlarmContainer{
  height: calc(100vh - 60vh);
  overflow: scroll;
  -ms-overflow-style: none;
} */

#disPlayAlarmContainer .setAlarm{
  border-bottom: 1px solid var(--accent-text);
  padding-bottom: 13px;
}